<!DOCTYPE html>
<html>
    <head>
        <title> REACTT APP</title>
    </head>
    <body class="container">
        <div></div>
        <div id="app"></div>
        

        <script type="text/javascript" src="/assets/build/bundle.js"></script>
        <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </body>
    
    
    
</html>